// Your variable overrides
// $custom: #2B7A78 !default;
$body-bg:#D5DEE6;
;

$theme-colors:("primary":#053D38,

  "secondary":#348888,
  "light":#bbaeab,
  "dark":#28594B,
  "info":#BF926B,
  "danger":#A62929,
  "white":#fff
  );

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

$formTitle: #024059;
.card-outline{
  border: none;
}
.btnadd{
  // border: 1px solid red;
}
.new-order-btn{
  margin-top: 8px;
    // border: 1px solid red;
    height: 40px;

}
.select-date{
  border-top-left-radius: 0.2rem !important;
  border-bottom-left-radius: 0.2rem !important;
    // border: 1px solid red;
// 
}

.modal .modal-huge {
  max-width: 90%;
 
}
h1{
font-family: 'Montserrat',
sans-serif;
}
button{
  font-family: 'Montserrat',
  sans-serif;
 
}
body{
  font-family: 'Montserrat',
  sans-serif;
  background-color:white;
}
table{
  font-size: small;
}
form{
  font-size: small;
}
header{

  background-color: #BF926B;
  color: white;
  
  
}


